.pop-up-container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px;
    box-shadow: 0 0 50px #1a1f1b;
    border: 1px solid #052d0e;
    text-align: center;
}

.pop-up-container .title {
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.pop-up-container .desc {
    font-size: 20px;
    margin: 10%;
}

.go-back-btn {
    min-width: 160px;
}

.deposit-button-container {
    margin: 10%;
}

